* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
}

/* |||||||||||| NAV */
.container-nav {
  height: 70px;
  width: 100%;
  margin-top: 30px;
  border-bottom: solid rgb(214,214,214) 1px;
}
.container-up {
  height: 40px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.logo-google {
  height: 40px;
  width: 6%;
  display: flex;
  align-items: center;
}
.logo-google img {
  height: 30px;
  width: 85px;
}
.privacy {
  height: 40px;
  width: 15%;
  display: flex;
  align-items: center;
}
.privacy h2 {
  color: #5f6368;
  font-size: 20px;
  padding-left: 5px;
}

.container-down {
  height: 30px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.sx {
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
}
.sx li {
  display: inline;
  list-style-type: none;
  padding-right: 35px;
}
.sx a {
  color: #5f6368;
  font-size: 15px;
  text-decoration: none;
}

.dx {
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dx h2 {
  color: #5f6368;
  font-size: 15px;
}


/* |||||||||||| PARTE CENTRALE FAQ */
.centrale {
  height: auto;
  width: 100%;
}
.centrale-faq {
  height: auto;
  width: 60%;
  margin: 0 auto;
}
.faq {
  margin-top: 50px;
}
.faq h1 {
  color: #5f6368;
 line-height: 35px;
 font-size: x-large;
}
.faq p {
  color: #5f6368;
 line-height: 20px;
 font-size: 14px;
}


/* |||||||||||| FOOTER */
footer {
  height: 50px;
  width: 100%;
  background-color: #f5f5f5;
  border-top: solid #e6e6e6 1px;
  margin-top: 30px;
}

.container-footer {
  height: 50px;
  width: 60%;
  margin: 0 auto;
  display: flex;
}
.footer-sx {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
}
.footer-sx li {
  display: inline;
  list-style-type: none;
  padding-right: 11px;
}
.footer-sx a {
  color: #5f6368;
  font-size: 11px;
  text-decoration: none;
}

.footer-dx {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-foot-dx {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-foot-dx img {
  height: 20px;
  width: 20px;
}
.container-foot-dx .lingua {
  height: 20px;
  width: 220px;
  margin-left: 10px;
}
