* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
}

.container-nav {
  height: 70px;
  width: 100%;
  /* debug */
  border:solid black 1px;
}
.container-up {
  height: 40px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  /* debug */
  border:solid green 1px;
}
.logo-google {
  height: 40px;
  width: 6%;
  display: flex;
  align-items: center;
  /* debug */
  border:solid red 1px;
}
.logo-google img {
  height: 30px;
  width: 80px;
}
.privacy {
  height: 40px;
  width: 15%;
  display: flex;
  align-items: center;
  /* debug */
  border:solid red 1px;
}
.privacy h2 {
  color: #5f6368;
  font-size: 20px;
}

.container-down {
  height: 30px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  /* debug */
  border:solid green 1px;
}
.sx {
  height: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  /* debug */
  border:solid red 1px;
}
.sx li {
  display: inline;
  list-style-type: none;
  padding-right: 35px;
}
.sx a {
  color: #5f6368;
  font-size: 15px;
  text-decoration: none;
}

.dx {
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* debug */
  border:solid red 1px;
}

.dx h2 {
  color: #5f6368;
  font-size: 15px;
}









.centrale {
  height: auto;
  width: 100%;
  /* debug */
  border: solid grey 1px;
}
.centrale-faq {
  height: auto;
  width: 80%;
  margin: 0 auto;
  /* debug */
  border: solid grey 1px;
}
.faq {
  margin-top: 50px;
}
.faq h1 {
 line-height: 35px;
}
.faq p {
 line-height: 35px;
}
